# BAIS:3250 - Final Project
### Transforming Columns for Analysis

**Author(s):** Natalie Brown, Max Kaiser

**Date Modified:** 12-02-2024 (*date created:* 12-02-2024)


**Description:** Transforming various columns for a seamless analysis across countries

---

### Import Libaries
* **pandas:** for data frames and data cleaning functions

In [1]:
import pandas as pd

---
### Load Data
* **csv file name**

In [3]:
# load cleaned and imputed csv file
country_df=pd.read_csv('06_country_merged_imputed.csv',sep=',',encoding='utf-8')

# view
country_df.head()

,country,birth_rt,currency_code,fertility_rt,infant_mortality_rt,life_expectancy,official_language,physicians_per_thousand,lat,long,...,primary_education_enrollment_pct,secondary_education_enrollment_pct,tax_revenue_pct,unemployment_rt,country_edited,continent,covid_cases,covid_deaths,total_area_km2,average_population
0,Afghanistan,32.49,AFN,4.47,47.9,64.5,Pashto,0.28,33.939110,67.709953,...,104.0,9.7,9.3,11.12,Afghanistan,Asia,46498,1774,652000,38673974
1,Albania,11.78,ALL,1.62,7.8,78.5,Albanian,1.20,41.153332,20.168331,...,107.0,55.0,18.6,12.33,Albania,Europe,37625,798,28748,2865340
2,Algeria,24.28,DZD,3.02,20.1,76.7,Arabic,1.72,28.033886,1.659626,...,109.9,51.4,37.2,11.70,Algeria,Africa,83199,2431,2381741,43621542
3,Andorra,7.20,EUR,1.27,2.7,83.8,Catalan,3.33,42.506285,1.521801,...,106.4,97.5,69.0,3.70,Andorra,Europe,6712,76,468,77230
4,Angola,40.73,AOA,5.52,51.6,60.8,Portuguese,0.21,-11.202692,17.873887,...,113.5,9.3,9.2,6.89,Angola,Africa,15139,348,1246620,32569069

In [4]:
country_df.columns

Index(['country', 'birth_rt', 'currency_code', 'fertility_rt',
       'infant_mortality_rt', 'life_expectancy', 'official_language',
       'physicians_per_thousand', 'lat', 'long', 'land_area_km2',
       'consumer_price_index', 'gross_domestic_product_usd(b)',
       'primary_education_enrollment_pct',
       'secondary_education_enrollment_pct', 'tax_revenue_pct',
       'unemployment_rt', 'country_edited', 'continent', 'covid_cases',
       'covid_deaths', 'total_area_km2', 'average_population'],
      dtype='object')

---
### Save Data
* **new csv file name**

In [7]:
# example save code
# df.to_csv('new_file.csv',sep=',',encoding='utf-8')